p {
  font-family: serif;
  font-size: 20px;
  letter-spacing: 3px;
  color: #006666;
  }
/* unvisited Link */
a {
  color: #cc0000;
}
/* visited link */
a:visited {
  color: #80ffff;
}
/* mouse over link */
a:hover {
  color:#ff0055;
}
body {
  background-color: #C3D2E0;
  width:90%;
  margin:auto;
/*  background-image: url(https://cdp.azureedge.net/products/USA/YA/2018/MC/SPORT/XSR900/49/RAPID_RED/2000000002.jpg) */;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

div {
  width: 50%;
  margin: auto;
  font-size: 160%;
  color: darkgrey;
  border-left: 3px solid black;
  padding: 30px;
}
div {
  font-style: italic;
}
.villagers {
  font-style: italic;
  border-left: 3px solid yellow;
  }
.farmer {
  font-style: italic;
  border-left: 3px solid red;
}
header > * {
    background-color: yellow;
}
.good {
    text-transform: capitalize;
    color: green;
}

.bad {
    text-transform: capitalize;
    color: red;
}
tr:nth-child(even){
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
}
.paragraph1 {
  font-weight: bold;
}
.firstitem {
    background-image: url(https://github.com/becodeorg/GNT-Yu-1.10/raw/master/1.The-Fields/4.HTML-CSS/1.HTML-CSS-Basics/Images/bien.png);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 50px;
  }
  .seconditem {
    background-image: url(https://github.com/becodeorg/GNT-Yu-1.10/raw/master/1.The-Fields/4.HTML-CSS/1.HTML-CSS-Basics/Images/mal.png);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 50px;
    }
    .thirditem {
      background-image: url(https://github.com/becodeorg/GNT-Yu-1.10/raw/master/1.The-Fields/4.HTML-CSS/1.HTML-CSS-Basics/Images/chat.png);
      background-repeat: no-repeat;
      background-size: 15px;
      padding-left: 50px;
    }
