p {
  font-family: serif;
  font-size: 20px;
  letter-spacing: 3px;
  color: #006666;
  }
/* unvisited Link */
a {
  color: #cc0000;
}
/* visited link */
a:visited {
  color: #80ffff;
}
/* mouse over link */
a:hover {
  color:#ff0055;
}
body {
  width:90%;
  margin:auto;
}
div {
  width: 50%;
  margin: auto;
  font-size: 160%;
  color: #C7C1C1;
  border-left: 3px solid black;
  border-spacing: 30px;
}
